.main-headerr .search-group{
	margin-top:1.1rem;
}
.main-headerr{
	box-shadow:.1rem .1rem .3rem 0 #ddd;
	position:relative;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.main-headerr .header-icon{
	margin-top:1.5rem;
	float:right;
}
/*---*/
.header-fixed .top-header{}
.header-fixed .main-headerr{
	padding:.5rem 0;
	width:100%;
}
.header-fixed.smaller .main-headerr{
	position: fixed;
	top:0;
	z-index:999;
	padding:0!important;
	box-shadow:.1rem .1rem .2rem 0 #ccc!important;
	transition: all 0.5s;
}
.header-absolute .main-headerr{
	padding:1rem 0;
	width:100%;
	box-shadow:0 0 0 0 #ccc;
}
.header-absolute.smaller .main-headerr{
	position: fixed;
	top:0;
	padding:.5rem 0!important;
	background:#fff;
	color:#333;
	box-shadow:.1rem .1rem .2rem 0 #ccc;
	z-index:999;
}
.header-overlay .main-headerr{
	width:100%;
	box-shadow:0 0 0 0 #ccc;
}
#cake header .main-headerr ul.list-top > li >a{
	font-weight:600;
}
#car .main-headerr .btn{
	margin-top:1.4rem;
	background:#007fff;
	color:#fff;
}
#car .smaller .main-headerr .btn{
	margin-top:1.2rem;
}
#construction .main-headerr{
	box-shadow:0 0 0 0 #fff;
}
#hotel .main-headerr{
	background:#005960!important;
	color:#fff;
	box-shadow:0 0 1rem 0 #053437;
}
#hotel .header-hotel-1 .main-headerr{
	box-shadow:none;
}
#restaurant .header-absolute.smaller .main-headerr{
	background:#222;
	box-shadow:none;
}
#restaurant .header-absolute.smaller .main-headerr{
	color:#fff;
}
.main-headerr{
		height:0rem;
		padding:0!important;
	}
	.main-headerr .search-group.search-group-1{
		margin-top:1rem!important;
	}
	.main-headerr .header-icon{
		margin-top:1rem;
	}
#car .main-headerr .btn{
		margin-top:1rem;
	}

.carousel-control .containerr{
	padding:0;
}

.row-0 .card,.row-2 .card,.row-5 .card,.row-10 .card{
	margin-bottom:0;
}
.row-0{
	margin:0;
}
.row-2{
	margin:-.2rem;
}
.row-5{
	margin:-.5rem;
}
.row-10{
	margin:-1rem;
}
.row-15{
	margin:-1.5rem;
}
.row-0 > [class*="col-"]{
	padding:0;
}
.row-2 > [class*="col-"]{
	padding:.2rem;
}
.row-5 > [class*="col-"]{
	padding:.5rem;
}
.row-10 > [class*="col-"]{
	padding:1rem;
}
.row-15 > [class*="col-"]{
	padding:1.5rem;
}
[class*="row-"]> [class*="col-"] .card{
	margin:0!important;
}
header .row{
 display: -webkit-box!important;
    display: -webkit-flex!important;
    display: -ms-flexbox!important;
    display: flex!important;
}

.menuu-nav > ul.menuu li{
	display:inline-block;
	float:none;
	position:relative;
}
.menuu-nav > ul.menuu > li > a{
	display:inline-block;
	text-transform:uppercase;
	padding:2.2rem 1.5rem;
	font-weight:600;
	font-size:1.5rem;
}
.menuu-nav > ul.menuu > li > .sub-menuu{
	position:absolute;
	top:100%;
	left:0;
	text-align:left;
	display:none;
	z-index:999;
	min-width:20rem;
}
.menuu-nav > ul.menuu > li > .sub-menuu li{
	display:block;
	width:100%;
}
.menuu-nav > ul.menuu > li > .sub-menuu li a{
	border-radius:0;
	padding:.6em 1.5rem;
	background:#fff;
	display:block;
	font-size:1.4rem;
	font-weight:600;
	border-bottom:.1rem solid #eee;
	text-transform:uppercase;
	color:#333;
	position:relative;
}
#cake header .menuu-nav{
	text-align:center;
	margin-top:6rem;
}
#shipping h1,#shipping h2,#shipping h3,#shipping h4,#shipping .menuu-nav > ul.menuu > li  a{
	font-family:'Playfair Display', serif;
	font-weight:400;
}
#shipping .menuu-nav > ul.menuu > li  a{
	font-weight:600;
}
.menuu-nav{
		background:white;
		position:fixed;
		top:0;
		right:-23rem;
		width:23rem;
		z-index:100;
		bottom:0;	
		text-align:left;
		padding-top:6rem;
	}
	.menuu-nav ul{
		max-height:
		overflow-y:auto;
	}
	.menuu-nav ul li{
		width:100%;
	}
	.menuu-nav > ul.menuu > li a{
		padding:1.2rem 0rem;
		color:black;
		border-bottom:1px solid #444;
		width:100%;
		font-size:1.4rem;
		text-decoration: none;
	}
	.menuu-nav > ul.menuu > li > .sub-menuu{
		position:relative;
		min-width:100%;
	}
	.menuu-nav > ul.menuu > li > .sub-menuu li {
		display:block;
	}
	.menuu-nav > ul.menuu > li > .sub-menuu li a{
		background:white;
		color:#c65353;
		padding:1.2rem .5rem;
		border-bottom:1px solid #555;
		display:block;
		margin-left: -1.5em;
	}
	.menuu-nav > ul.menuu > li > .sub-menuu li a:hover{
		background:white;
	}
#cake header .menuu-nav{
		text-align:left;
		margin-top:0rem;
	}

	.menuu-item p{
	color:#999;
	font-size:1.4rem;
}
.menuu-item{
	margin:1.5rem 0 0 0 ;
}
.dropdown .dropdown-menuu{
	border-radius:.4rem;
	padding:0;
	box-shadow:.1rem .1rem .3rem 0 #ccc;
	border:0;
	margin-top:2rem;
}
.dropdown .dropdown-menuu a.dropdown-item{
	border-bottom:1px solid #eee;
	padding:.9rem 1.5rem;
	background:#fff;
	color:#333;
	font-size:1.5rem;
}
.dropdown-menuu a.dropdown-item:last-child{
	border:none;
}

.dropdown-menuu {
    min-width: 22rem;
    border-radius: 0;
    background: #fff;
	color:#333;
	left:auto;
	right:0;
    border: none;
    margin-top:.5rem;
    box-shadow: 1px 1px 2px 0px #ddd;
}
.cart .dropdown-menuu .media a  img{
	width:5rem;
	margin-right:1rem;
}
.cart .dropdown-menuu .btn{
	padding:1rem 1.5rem;
	color:#fff;
	font-size:1.3rem;
	border-radius:.3rem;
	width:100%;
}
.cart .dropdown-menuu li{
	border-bottom:1px solid #eee;
	width:100%;
	padding:1.5rem;
}
.cart .dropdown-menuu li span{
	color:#ccc;
}
.cart .dropdown-menuu li:last-child{
	border:0;
}


.menuu-btn{
	position:fixed;
	top:0rem;
	right:-.5rem;
	cursor:pointer;
	z-index:9999;
	width:6rem;
	height:4.2rem;
	text-align:center;
	line-height:4.5rem;
	display:none;
	font-size:1.8rem;
	color:#ffffff;
}
.menuu-btn.active{
	position:fixed;
}
#restaurant  .menuu-btn{
	background:none;
	color:#fff;
}
.menuu-btn{
		display:block;
	}
	.menuu-btn.active{
		background:none!important;
		color:#c65353;
	}
	#hotel .menuu-btn{
		background:#005960;
		color:#fff;
	}